section.poi-row {
  display: block;
  text-align: center;
}

div.poi-wrapper {
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align:top;
}

  div.poi-wrapper img.background {
    display: block;
  }

  @-webkit-keyframes pulse {
  	0% {
  		-webkit-transform: scale(1);
  		opacity: 0.0;
  	}
  	25% {
  		-webkit-transform: scale(1);
  		opacity: 0.1;
  	}
  	50% {
  		-webkit-transform: scale(1.2);
  		opacity: 0.3;
  	}
  	75% {
  		-webkit-transform: scale(2);
  		opacity: 0.5;
  	}
  	100% {
  		-webkit-transform: scale(2.6);
  		opacity: 0.0;
  	}
  }

  @keyframes pulse {
  	0% {
  		transform: scale(1);
  		opacity: 0.0;
  	}
  	25% {
  		transform: scale(1);
  		opacity: 0.1;
  	}
  	50% {
  		transform: scale(1.2);
  		opacity: 0.3;
  	}
  	75% {
  		transform: scale(2);
  		opacity: 0.5;
  	}
  	100% {
  		transform: scale(2.6);
  		opacity: 0.0;
  	}
  }

  div.point {
  	position: absolute;
    line-height: 0;
    -ms-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  }

    div.point span.pulse {
    	background: transparent;
    	position: absolute;
    	top: 0;
    	left: 0;
    	opacity: 0;
      -ms-transform: scale(0);
    	-webkit-transform: scale(0);
    	transform: scale(0);
    	height: 1rem;
    	width: 1rem;
    	border-radius: 50%;
    	border: 3px solid #F9D423;
    	-webkit-animation: pulse 1.6s ease-out;
    	animation: pulse 1.6s ease-out;
    	-webkit-animation-iteration-count: infinite;
    	animation-iteration-count: infinite;
    }

    div.point button {
    	position: relative;
    	height: 1rem;
    	width: 1rem;
    	background: transparent;
    	padding: 0;
    	border-radius: 50%;
    	display: block;
    	margin: 0 auto;
    	border: 0;
    	border: 3px solid #F9D423;
    	z-index: 4;
    }

    div.point button {
    	display: inline;
    }

    div.point button:hover,
    div.point button:focus  {
    	background-color: #FFC107;
    }

    div.point button + span.label {
    	display: none;
      line-height: 1.5;
      white-space: nowrap;
    	position: absolute;
    	top: 0;
    	left: 50%;
    	text-align: center;
      color: #fff;
      background-color: rgba(0,0,0,.7);
      padding: .25rem .5rem;
    	border-radius: 3px;
      -ms-transform: translate(-50%, -150%);
    	-webkit-transform: translate(-50%, -150%);
    	transform: translate(-50%, -150%);
    }

    div.point button + span.label:after {
    	content:"";
      position: absolute;
      bottom: 0;
      left: 50%;
    	width: 0;
    	height: 0;
    	border-left: .25em solid transparent;
    	border-right: .25em solid transparent;
    	border-top: .25em solid rgba(0,0,0,.7);
      -ms-transform: translate(-50%, 100%);
    	-webkit-transform: translate(-50%, 100%);
    	transform: translate(-50%, 100%);
    }

    div.point button:hover + span.label,
    div.point button:focus + span.label {
    	display: block;
    }

unlv-oe-poi-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
